body {
    font-family: "Noto Naskh Arabic", serif;
    scroll-behavior: smooth;
    direction: rtl;
    padding: 0;
    margin: 0;
    background-image: url(../images/bg-body.png);
    background-size: auto;
    background-repeat: repeat;
}

:root {
    --primary-color: #db9e30;
}

/* navbar */

.navbar-section {
    background-color: white;
}

/* breadcrumb */

.breadcrumb-section {
    height: 400px;
    background-image: linear-gradient(rgba(33,33,34,0.4), rgba(33,33,34,0.8)), url(../images/breadcrumb.jpg);
    background-size: cover;
}

/* content */

.card-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 25, 59, 0.06);
    padding: 40px;
}

.card-content p {
    line-height: 2.8;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .card-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 70px;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 10px rgba(1, 25, 59, 0.2);
    }

}

/* footer */

.section-footer {
    background-color: #272727;
    padding-top: 70px;
}

.social-media a {
    background-color: white;
    color: #272727;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.social-media a:hover {
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width: 768px) {
    .shape img {
        width: 100%;
        margin-bottom: -3px;
    }

}